/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.DS_Store
.idea/*
composer.lock

#cap
#/app/config/deploy.rb
#/app/config/deploy_stage/
#Capfile
/web/upload
